* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  scroll-behavior: smooth;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Общие стили */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.input {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  background: #F6F6F6;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 40px;
  &::placeholder {
    //color: $font-gray;
  }
}

